*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*Poster a destra*/
.poster{
    margin-top: 60px; /*Serve per spaziatura*//*mt1 margintop 50-mt3 margin top 150*/
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
}
.poster p,h3{color: black;}

.poster-img{
    width: 65%;
    height: 100%;
}
.poster-img img{
    object-fit: cover; /*Serve per prendere la stessa dim della img e del txt*/
    width: 100%;
    height: 100%;}
.poster-cn p{
    font-size: 17px;
    line-height: 28px;
    color: #666;
    font-weight: 300;
 }
.poster-cn{
    width: 35%;
    padding: 50px;
}

/*Poster a sinistra*/
.poster-s{
    margin-top: 100px; /*Serve per spaziatura*//*mt1 margintop 50-mt3 margin top 150*/
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
}
.poster-img-s{
    width: 65%;
    height: 100%;
}
.poster-img-s img{
    object-fit: cover; /*Serve per prendere la stessa dim della img e del txt*/
    width: 100%;
    height: 100%;}
.poster-cn-s p{
    font-size: 17px;
    line-height: 28px;
    color: #666;
    font-weight: 300;
 }
.poster-cn-s{
    width: 35%;
    padding: 50px;
}

/*Footer*/
.footer-inner{
    margin: 0;
    padding: 0;
    background-color: #1f2029;
    margin-top: 80px; /*Il poco di spazio tra footer e poster*/
}
.link{
    padding-top: 10px;
    display: flex;    
    width: 300px;
    height: 65px;
    margin: auto;
}
.link ul{
    display: flex;
}
.quick-items{
    list-style: none;
}
.quick-items a{
    text-decoration: none;
    padding: 0px 15px;
    font-size: 18px;
    color: white;
    transition: all 0.5s ease;
}
.link a:hover{
    color: #C4BEBE;
    padding-left: 10px;
}
.outer-footer{
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 18px;
    background-color:#181922;
}