.embeddable-pages{
  border-bottom: 1px solid #ddd;
  padding-bottom:15px;
}

.embeddable-pages-label{
   color: #3c464d;
   font-family:"Merriweather";
}


.embeddable-pages-desc{
   font-size:10px;
   color: #3c464d;
   font-family:"Merriweather";
}

.dimension-label{
   font-size:12px;
   font-weight:bold;
  color:#3c464d;
   font-family:"Open Sans";
}

.no-padding{
  padding:0px;
}


.btn-copy-link,.btn-copy-link:hover, .btn-copy-link:focus, .btn-copy-link:active{
  border-radius: 2px;
   font-size:10px;
  height:30px;
  background:#3c464d;
  text-transform: uppercase;
  color:#fff;
   font-family:"Open Sans";
   min-width:75px;
}

.btn-preview, .btn-preview:hover, .btn-preview:focus, .btn-preview:active{
  border-radius: 2px;
   font-size:10px;
  height:30px;
  color:#3c464d;
  background-color:#fff;
  border: solid 1px #3c464d;
   font-family:"Open Sans";
  text-transform: uppercase;
   min-width:75px;
   font-weight:600;
}
.embeddable-pages .row{
  border-bottom: 0px !important;
  margin: 0 !important;
  padding-top: 5px !important;
}

a.preview-embedded{
  padding:8px 12px !important;
}
